/* Mobile Screen */
.main-contact {
  height: 91vh;
  display: flex;
  align-items: flex-start;
  font-family:'Crete Round', serif;
  flex-direction: column;
  background-color: #f7f7f7;
  justify-content: center;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #EB5D2B;
  font-family:'Crete Round', serif;
  padding: 0 1.5rem 0 1.5rem;
}

.main-contact p{
  padding: 1.5rem;
  font-size: 24px;
  font-family:'Crete Round', serif;
  width: 85%;
}

.left-contact span {
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #EB5D2B;
}

.email {
  margin: 0 .5rem 0 0;
}

.main-contact ul {
  display: flex;
  flex-direction: row;
}

.main-contact ul li {
  list-style: none;
  margin: 1rem 0;
  padding: 1rem 1.5rem;
}


/* Tablet Screen */

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  .main-contact {
    display: flex;
    align-items: center;
    font-family:'Crete Round', serif;
    flex-direction: row;
  }
  
  h2 {
    font-size: 3rem;
    font-weight: 700;
    padding: 0 1.5rem 0 1.5rem;
  }
  
  .main-contact p{
    padding: 1.5rem;
    font-size: 24px;
    font-family:'Crete Round', serif;
    width: 85%;
  }
  
  .left-contact span {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #EB5D2B;
  }
  
  .email {
    margin: 0 1rem 0 0;
  }
  
  .main-contact ul {
    display: flex;
    flex-direction: column;
  }
  .main-contact ul li {
    list-style: none;
    margin: 1rem .5rem;
    padding: 0 1.5rem;
  }

}


/* Large Screen */

@media screen and (min-device-width: 1024px) {

  .main-contact {
    display: flex;
    align-items: center;
    font-family:'Crete Round', serif;
    flex-direction: row;
  }
  
  h2 {
    font-size: 3rem;
    font-weight: 700;
    padding: 0 1.5rem 0 1.5rem;
  }
  
  .main-contact p{
    padding: 1.5rem;
    font-size: 24px;
    font-family:'Crete Round', serif;
    width: 85%;
  }
  
  .left-contact span {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #EB5D2B;
  }

  
  .email {
    margin: 0 1rem 0 0;
  }
  
  .list-socialapp {
    margin-bottom: 0;
  }

  .main-contact ul {
    display: flex;
    flex-direction: column;
  }
  .main-contact ul li {
    list-style: none;
    margin: 1rem .5rem;
    padding: 0 1.5rem;
  }
}
