.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

/* Mobile */

.main_banner {
  height: inherit;
  padding: 0 1rem;
  font-family:'Crete Round', serif;
  display: flex;
  align-items: center;
}

.banner-text  {
  padding: 20px;
}

.banner-text h1{
  color: #EB5D2B;
  font-family:'Crete Round', serif;
  font-size: 35px;
}

.banner-text h3 {
  margin: 1rem auto;
  font-size: 24px;
}

.banner-text h5{ 
  margin: 1rem auto;
  font-size: 22px;
}

.social_link {
  display: flex;
  padding: 0;
}

.social_link li {
  list-style: none;
  margin: 0 1rem 0 0;
}

.social_link li a {
  color: #000;
}

.social_link li a:hover {
  color: #EB5D2B;
  cursor: pointer;
}

.btn-git-cv {
  background-color: #EB5D2B;
  border-radius: 5px;
  font-family:'Crete Round', serif;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  width: 75%;
}

.btn-git-cv a {
  color: #fff;
  text-decoration: none;
}

/* Tablet screen between 768 and 1024*/

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .main_banner {
    height: inherit;
    padding: 0 2rem;
    font-family:'Crete Round', serif;
    display: flex;
      align-items: center;
  }
  
  .banner-text  {
    padding: 20px;
  }
  
  .banner-text h1{
    color: #EB5D2B;
    font-family:'Crete Round', serif;
    font-size: 45px;
  }
  
  .banner-text h3 {
    margin: 1rem auto;
    font-size: 30px;
  }
  
  .banner-text h5{ 
    margin: 1rem auto;
    font-size: 24px;
  }
  
  .social_link {
    display: flex;
    padding: 0;
  }
  
  .social_link li {
    list-style: none;
    margin: 0 1rem 0 0;
  }
  
  .social_link li a {
    color: #000;
  }
  
  .social_link li a:hover {
    color: #EB5D2B;
    cursor: pointer;
  }
}

/* Large Screen > 1024px */

@media screen and (min-device-width: 1024px) {

  .main_banner {
    height: inherit;
    padding: 0 2rem;
    font-family:'Crete Round', serif;
    display: flex;
      align-items: center;
  }
  
  .banner-text  {
    padding: 20px;
  }
  
  .banner-text h1{
    color: #EB5D2B;
    font-family:'Crete Round', serif;
    font-size: 45px;
  }
  
  .banner-text h3 {
    margin: 1rem auto;
    font-size: 30px;
  }
  
  .banner-text h5{ 
    margin: 1rem auto;
    font-size: 24px;
  }
  
  .social_link {
    display: flex;
    padding: 0;
  }
  
  .social_link li {
    list-style: none;
    margin: 0 1rem 0 0;
  }
  
  .social_link li a {
    color: #000;
  }
  
  .social_link li a:hover {
    color: #EB5D2B;
    cursor: pointer;
  }
}