nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  position: fixed;
  top: 0;
  z-index: 1020;
  width: 100%;
  background: #fff;
  font-family: 'Crete Round', serif;
}

nav ul {
  display: flex;
  text-decoration: none;
  margin: 0 2rem 0 0;
}

nav ul li {
  list-style: none;
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  color: #EB5D2B;
}

.rightside_nav ul li{
  display: none;
}

/* // mobie nav bar */
.sidenav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f7f7f7;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-top: 65px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #EB5D2B;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #000;
}

.menu-icon {
  display: block;

}

.logo {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: .15em solid black; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
/* margin: 0 auto; Gives that scrolling effect as the typing happens */
letter-spacing: .15em; /* Adjust as needed */
animation: 
  typing 3.5s steps(40, end),
  blink-caret .75s step-end infinite;
}

.logo a {
  text-decoration: none;
  color: #000;
}

/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width:  20% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: black }
}
/* Tablet Screen */

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    z-index: 1020;
    width: 100%;
    background: #fff;
    font-family: 'Crete Round', serif;
  }
  
  nav ul {
    display: flex;
    text-decoration: none;
    margin: 0 3rem 0 0;
  }
  
  nav ul li {
    list-style: none;
    margin: 0 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
  }
  
  nav ul li a:hover {
    color: #EB5D2B;
  }
  
  .rightside_nav ul li{
    display: block;
  }

  .sidenav {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .logo {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 10% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
  }

}

/* Large Screen > 1024px */

@media screen and (min-device-width: 1024px) {

  nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    z-index: 1020;
    width: 100%;
    background: #fff;
    font-family: 'Crete Round', serif;
  }
  
  nav ul {
    display: flex;
    text-decoration: none;
    margin: 0 3rem 0 0;
  }
  
  nav ul li {
    list-style: none;
    margin: 0 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
  }
  
  nav ul li a:hover {
    color: #EB5D2B;
  }
  
  .rightside_nav ul li{
    display: block;
  }

  .sidenav {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .logo {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  }

  /* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 7% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}
}