.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family:'Crete Round', serif;
}

.main-projects {
  background-color: #fff;
}

.project-title {
  color: #EB5D2B;
  font-family:'Crete Round', serif;
  font-size: 34px;
  padding: 4.8rem 1.5rem 0 1.5rem;
}

.project-image {
  padding: 1.5rem;
}

.project-image figure img {
  width: 100%;
  height: 250px;
}

.project-image figure figcaption{
  display: flex;
  justify-content: center;
  color: #EB5D2B;
  padding: 10px;
  border-width: 10%;
  font-size: 22px;
  font-weight: 400erif;
  font-family:'Crete Round', serif;
}

.project-details{
  margin-bottom: 2rem;
  box-shadow: 0 4px 10px 2px rgb(167 170 172 / 20%);
  padding: 1.5rem;
  transition: 0.3s
}

.project-details:hover {
  box-shadow: 0 8px 20px 4px rgb(0 0 0 / 20%);
}

.bottom-links p {
  margin: 0 0 16px 0;
  font-family:'Crete Round', serif;
}

.btn-git a {
  text-decoration: none;
  padding: 10px;
  background-color: #EB5D2B;
  color: #fff;
  margin: 10px 10px 0 0 ;
  border-radius: 5px;
  font-family:'Crete Round', serif;
}

.link-a {
  text-decoration: none;
  color: #fff;
  font-family:'Crete Round', serif;
}

.btn-live a {
  text-decoration: none;
  color: #EB5D2B;
  font-family:'Crete Round', serif;
}

/* other Project section */


.other-projects {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.other-project-details {
  margin: 0 0 30px 0;
}

.img-pro {
  width: 100%;
  height: 250px;
}

.btn-otherproject {
  display: flex;
  flex-direction: column;
}

.btn-otherproject span {
  margin: 5px 0;
}

.btn-git-full {
  background-color: #EB5D2B;
  border-radius: 5px;
  font-family:'Crete Round', serif;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.btn-git-full a {
  color: #fff;
  text-decoration: none;
}

.btn-live-full a {
  color: #fff;
  text-decoration: none;
}

.btn-live-full {
  background-color: #EB5D2B;
  border-radius: 5px;
  font-family:'Crete Round', serif;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.other-project-details figure figcaption {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  color: #EB5D2B;
}


@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  h2 {
    color: #EB5D2B;
    font-family:'Crete Round', serif;
    font-size: 34px;
  }
  
  .project-image {
    padding: 1.5rem;
  }
  
  .project-image figure img {
    width: 100%;
    height: 250px;
  }
  
  .project-image figure figcaption{
    display: flex;
    justify-content: center;
    color: #EB5D2B;
    padding: 10px;
    border-width: 10%;
    font-size: 22px;
    font-weight: 400erif;
    font-family:'Crete Round', serif;
  }
  
  .project-details{
    margin-bottom: 2rem;
    box-shadow: 0 4px 10px 2px rgb(167 170 172 / 20%);
    padding: 1.5rem;
    transition: 0.3s
  }
  
  .project-details:hover {
    box-shadow: 0 8px 20px 4px rgb(0 0 0 / 20%);
  }
  
  .bottom-links p {
    margin: 0 0 16px 0;
    font-family:'Crete Round', serif;
  }
  
  .btn-git a {
    text-decoration: none;
    padding: 10px;
    background-color: #EB5D2B;
    color: #fff;
    margin: 10px 10px 0 0 ;
    border-radius: 5px;
    font-family:'Crete Round', serif;
  }
  
  .btn-live a {
    text-decoration: none;
    color: #EB5D2B;
    font-family:'Crete Round', serif;
  }

  .other-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .other-project-details .img-pro {
    width: 100%;
    height: 250px;
  }

  .other-projects p {
    overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-align: justify;
      }


}

@media screen and (min-device-width: 1024px) {
  .other-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .other-project-details .img-pro {
    width: 100%;
    height: 250px;
  }

  .other-projects p {
    overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-align: justify;
      }

  .btn-git-full {
    background-color: #EB5D2B;
    border-radius: 5px;
    font-family:'Crete Round', serif;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .btn-git-full a {
    color: #fff;
    text-decoration: none;
  }

  .btn-live-full a {
    color: #fff;
    text-decoration: none;
  }

  .btn-live-full {
    background-color: #EB5D2B;
    border-radius: 5px;
    font-family:'Crete Round', serif;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .btn-otherproject {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .btn-otherproject span {
    margin: 5px 0;
  }

  .other-project-details figure figcaption {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    color: #EB5D2B;
  }
}